<div class="jumbotron text-center">
    <h1>Welcome to Dev Match</h1>
    <h3>A membership site where entrepeneurs can meet developers.</h3>
</div>
<div class="row">
    <% if #user_signed_in? %>
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center">Your Profile</h2>
                <% if current_user.profile %>
                    <%= link_to "View your Profile", user_path(current_user), class: "btn btn-primary btn-block" %>
                    <%= link_to "Edit your Profile", edit_user_profile_path(current_user), class: "btn btn-primary btn-block"%>
                <% else %>
                    <p class="text-center">Create your profile to share with the community!</p>
                    <%= link_to "Create your profile", new_user_profile_path(current_user), class: "btn btn-primary btn-block" %>
                <% end %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center"> The Community</h2>
                <p class="text-center">Visit the community to meet developers, entrepreneurs, and investors!</p>
                <%= link_to "Visit the community!", "#", class: "btn btn-primary btn-block" %>
            </div>
        </div>
    <% else %>
        <div class="col-md-6">
            <div class="well text-center">
                <h2>Basic Membership</h2>
                <h4>Basic access to the community</h4>
                <h4>FREE</h4>
                <%= link_to "Sign up for a Basic Account", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well text-center">
                <h2>Pro Membership</h2>
                <h4>Access to the community and contact information</h4>
                <h4>$10/month</h4>
                <%= link_to "Sign up for a Pro Account", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
            </div>
        </div>
    <% end %>
</div>